@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

;

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #B8E55C;
    --color-secondary: #03373D;
    --color-mytext: #1F1F1F;
    --color-thried: #0B0B0B;
}